<%= form_for @recipe, :html => { :class => "form-horizontal recipe" } do |f| %>

    <% if @recipe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :glasses_distance_od_esf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_od_esf, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_od_esf]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_od_cil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_od_cil, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_od_cil]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_od_eje, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_od_eje, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_od_eje]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_od_prisma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_od_prisma, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_od_prisma]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_oi_esf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_oi_esf, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_oi_esf]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_oi_cil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_oi_cil, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_oi_cil]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_oi_eje, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_oi_eje, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_oi_eje]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_distance_oi_prisma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_distance_oi_prisma, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_distance_oi_prisma]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_od_esf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_od_esf, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_od_esf]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_od_cil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_od_cil, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_od_cil]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_od_eje, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_od_eje, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_od_eje]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_od_prisma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_od_prisma, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_od_prisma]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_oi_esf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_oi_esf, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_oi_esf]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_oi_cil, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_oi_cil, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_oi_cil]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_oi_eje, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_oi_eje, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_oi_eje]) %>
  </div>
  <div class="control-group">
    <%= f.label :glasses_near_oi_prisma, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :glasses_near_oi_prisma, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:glasses_near_oi_prisma]) %>
  </div>
  <div class="control-group">
    <%= f.label :obs, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :obs, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:obs]) %>
  </div>
  <div class="control-group">
    <%= f.label :di, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :di, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:di]) %>
  </div>
  <div class="control-group">
    <%= f.label :pte, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :pte, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:pte]) %>
  </div>
  <div class="control-group">
    <%= f.label :cal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cal, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:cal]) %>
  </div>
  <div class="control-group">
    <%= f.label :high_ring, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :high_ring, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:high_ring]) %>
  </div>
  <div class="control-group">
    <%= f.label :high_multifocal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :high_multifocal, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:high_multifocal]) %>
  </div>
  <div class="control-group">
    <%= f.label :diagonal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :diagonal, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:diagonal]) %>
  </div>
  <div class="control-group">
    <%= f.label :bifocal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bifocal, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:bifocal]) %>
  </div>
  <div class="control-group">
    <%= f.label :multifocal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :multifocal, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:multifocal]) %>
  </div>
  <div class="control-group">
    <%= f.label :organic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organic, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:organic]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :cash_delivery, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cash_delivery, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:cash_delivery]) %>
  </div>
  <div class="control-group">
    <%= f.label :cash_balance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cash_balance, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:cash_balance]) %>
  </div>
  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:first_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:last_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:phone]) %>
  </div>
  <div class="control-group">
    <%= f.label :mail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mail, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:mail]) %>
  </div>
  <div class="control-group">
    <%= f.label :birthday, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birthday, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:birthday]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            recipes_path, :class => 'btn btn-default' %>

<% end %>
